# ===============================
# Project Specific
# ===============================
allure-results/
allure-report/
screenshots/
screenshot/
test-output/
build/

opencart.log

# ===============================
# Java
# ===============================
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
*.log

# ===============================
# Maven
# ===============================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ===============================
# IntelliJ IDEA
# ===============================
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# ===============================
# Eclipse
# ===============================
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

# ===============================
# Visual Studio Code
# ===============================
.vscode/

# ===============================
# Mac OS
# ===============================
.DS_Store

# ===============================
# Windows
# ===============================
Thumbs.db
Desktop.ini

# ===============================
# Logs
# ===============================
logs/

# ===============================
# Reports
# ===============================
surefire-reports/
extent-reports/
chain-test-report/

# ===============================
# Misc
# ===============================
*.pid
*.seed
*.lock